<div class="min-h-screen bg-gray-100 flex items-center justify-center p-8">
  <div id="pdf-content" class="max-w-5xl w-full bg-white shadow-lg rounded-lg p-8 relative">
    <!-- Botones para descargar PDF y CSV -->
    <div class="flex justify-between items-center mb-6">
      <div>
        <button class=" no-print bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded shadow-md mr-2" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" (click)="descargarPDF()">Descargar PDF</button>
        <button class="no-print bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded shadow-md" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" (click)="descargarCSV()">Descargar CSV</button>
      </div>
    </div>
    <!-- Icono de impresión -->
    <div class="absolute top-0 right-0 mt-4 mr-4 flex items-center space-x-2">
      <button class=" no-print bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold p-2 rounded-full shadow-md flex items-center justify-center" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9V2h12v7M6 18H3v3h18v-3h-3M6 9h12M9 14h6"/>
        </svg>
      </button>
      <span class=" no-print font-bold text-gray-700">Imprimir</span>
    </div>
    <!-- Encabezado -->
    <div class="flex justify-between items-center mb-6">
      <div class="w-3/4 mr-4">
        <label class="font-bold text-gray-700">Cliente</label>
        <input type="text" placeholder="Nombre del cliente" class="border-b border-gray-400 w-full bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700">
      </div>
      <div class="w-1/4">
        <label class="font-bold text-gray-700">No. Pedido</label>
        <input type="text" placeholder="Número de pedido" class="border-b border-gray-400 w-full bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700">
      </div>
    </div>

    <h1 class="text-center text-3xl font-bold text-gray-800 mb-6">MILAN</h1>

    <div class="flex justify-center items-center mb-6 relative">
      <!-- Input Profundidad -->
      <div class="absolute top-0 right-[85px]">
        <input type="text" placeholder="Profundidad" class="w-32 border-b border-gray-400 bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700" [(ngModel)]="profundidad" (input)="onProfundidadChange()">
      </div>

      <!-- Input para "Alto" -->
      <div class="absolute left-[calc(50%-400px)]">
        <input type="text" placeholder="Alto" class="w-32 border-b border-gray-400 bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700" [(ngModel)]="alto" (input)="onAltoChange()">
      </div>

      <!-- Imagen -->
      <img src="./milan.png" alt="Imagen del closet" class="max-w-xl max-h-[600px] mx-auto shadow-sm rounded z-10">

      <!-- Input para "Ancho" centrado debajo de la imagen -->
      <div class="absolute left-1/2 transform -translate-x-1/2 top-full mt-4">
        <input type="text" placeholder="Ancho" class="w-32 border-b border-gray-400 bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700"[(ngModel)]="ancho" [value]="ancho !== null ? ancho : ''" (input)="calcularAnchoPuerta()">
      </div>

      <!-- Contador con botones "+" y "-" a la derecha del input "Ancho" -->
      <div class="absolute left-[calc(50%+10.5rem)] top-full mt-4 flex items-center">
        <button class="text-gray-700 bg-gray-200 hover:bg-gray-300 font-bold py-1 px-2 focus:outline-none" (click)="ajustarPoste('izq', -5)">-</button>
        <input type="text" [value]="posteIzq" class="w-10 text-center border-b border-gray-400 bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700 text-sm" readonly>
        <button class="text-gray-700 bg-gray-200 hover:bg-gray-300 font-bold py-1 px-2 focus:outline-none" (click)="ajustarPoste('izq', 5)">+</button>
      </div>

      <!-- Contador con botones "+" y "-" -->
      <div class="absolute left-1/2 transform -translate-x-[calc(50%+13rem)] top-full mt-4 flex items-center">
        <button class="text-gray-700 bg-gray-200 hover:bg-gray-300 font-bold py-1 px-2 focus:outline-none" (click)="ajustarPoste('der', -5)">-</button>
        <input type="text" [value]="posteDerecho" class="w-10 text-center border-b border-gray-400 bg-transparent focus:outline-none focus:ring-0 focus:border-gray-700 text-sm" readonly>
        <button class="text-gray-700 bg-gray-200 hover:bg-gray-300 font-bold py-1 px-2 focus:outline-none" (click)="ajustarPoste('der', 5)">+</button>
      </div>

      <!-- checkbox -->
      <div class="absolute right-[calc(50%-360px)]">
        <input type="checkbox" id="costado" class="form-checkbox h-4 w-4 text-gray-500 bg-white border-gray-400 focus:ring-gray-500 checked:bg-gray-500 checked:border-gray-500" (change)="onCostadoChange($event)">
        <label for="costado" class="ml-2 font-bold text-gray-700">Costado</label>
      </div>
    </div>

    <!-- Seleccion de colores -->
    <div class="flex justify-between mb-6 mt-16 space-x-4">
      <div class="flex flex-col w-full max-w-xs">
        <label class="font-bold text-gray-700 mb-1">Color Exterior</label>
        <select class="border border-gray-300 rounded p-1 mt-2 focus:outline-none focus:ring focus:ring-gray-200 w-full" [(ngModel)]="selectedColorExterior" (change)="onColorExteriorChange()">
          <option value="" disabled selected>Selecciona un color</option>
          <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
        </select>
      </div>
      <div class="flex flex-col w-full max-w-xs">
        <label class="font-bold text-gray-700 mb-1">Color Interior</label>
        <select class="border border-gray-300 rounded p-1 mt-2 focus:outline-none focus:ring focus:ring-gray-200 w-full" [(ngModel)]="selectedColorInterior">
          <option value="" disabled selected>Selecciona un color</option>
          <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
        </select>
      </div>
    </div>

    <!-- Tabla -->
    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-200">
          <tr>
            <th scope="col" class="px-32 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider"></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider" style="max-width: 100px;">CANTIDAD</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">ANCHO</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">ALTO</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">COLOR</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr>
            <td class="px-6 py-4 whitespace-nowrap font-bold text-gray-900">PUERTAS</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarCantidad" type="text" [(ngModel)]="cantidadPuertas" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="anchoPuerta !== null" type="text" [(ngModel)]="anchoPuerta" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarAlto" type="text" [(ngModel)]="altoPuertas" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorExterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr>
          <!-- <tr [ngClass]="{'bg-red-500': mostrarContraventanasRojo}">
            <td class="px-6 py-4 whitespace-nowrap text-gray-900"></td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarContraventanas" type="text" [(ngModel)]="cantidadContrav" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="anchoContraventanas !== null" type="text" [(ngModel)]="anchoContraventanas" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarContraventanas" type="text" [(ngModel)]="altoContrav" (input)="onContraventanaAltoChange()" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorExterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr> -->
          <!-- <tr>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900"></td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarSecreter" type="text" [(ngModel)]="secreter" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarSecreter" type="text" [(ngModel)]="anchoSecreter" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarSecreter" type="text" [(ngModel)]="altoSecreter" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorExterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr> -->
          <tr>
            <td class="px-6 py-4 whitespace-nowrap font-bold text-gray-900">FRENTES DE CAJON</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarFrentesCajon" type="text" [(ngModel)]="cantidadFrentes" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarFrentesCajon" type="text" [(ngModel)]="anchoFrentes" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarFrentesCajon" type="text" [(ngModel)]="altoFrentes" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorExterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap font-bold text-gray-900">ANTEPECHO</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarAntepecho" type="text" [(ngModel)]="cantidadAntepecho" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarAntepecho" type="text" [(ngModel)]="anchoAntepecho" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarAntepecho" type="text" [(ngModel)]="altoAntepecho" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorInterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap font-bold text-gray-900">COSTADO</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarCostado" type="text" [(ngModel)]="cantidadCostado" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarCostado" type="text" [(ngModel)]="anchoCostado" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input *ngIf="mostrarCostado" type="text" [(ngModel)]="altoCostado" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorExterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr>
          <tr *ngFor="let entrepaneria of entrepanerias; let i = index">
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">Entrepañería Interna {{i + 1}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input type="text" [(ngModel)]="entrepaneria.cantidad" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input type="text" [(ngModel)]="entrepaneria.ancho" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900">
              <input type="text" [(ngModel)]="entrepaneria.alto" class="border-none bg-transparent w-full">
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-gray-900 color">
              <select [(ngModel)]="selectedColorInterior" class="border-none bg-transparent w-full" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <option *ngFor="let color of colores" [value]="color.codigo">{{ color.nombre }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="px-6 py-4 whitespace-nowrap">
              <select class="no-print border border-gray-300 rounded p-1 focus:outline-none focus:ring focus:ring-gray-200 w-full" (change)="addEntrepeneria($event)">
                <option value="" disabled selected>Selecciona entrepañería interna</option>
                <option *ngFor="let entrepano of entrepanos" [value]="entrepano">{{ entrepano }}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
