<div class="fixed top-0 left-0 w-64 h-screen bg-gray-200 shadow-lg rounded-r-lg">
  <div class="flex flex-col py-6">
    <!-- Título -->
    <h1 class="text-2xl font-semibold text-gray-700 text-center mb-4">La puerta</h1>

    <!-- Menú -->
    <ul class="space-y-2 px-4">
      <!-- Home -->
      <li class="font-medium text-lg text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/')">Home</li>

      <!-- Calculadoras -->
      <li class="font-medium text-lg text-gray-700 cursor-pointer" (click)="toggleCalculadoras()">Calculadoras</li>

      <!-- Submenú de Calculadoras (se muestra solo si isCalculadorasOpen es true) -->
      <ul *ngIf="isCalculadorasOpen" class="pl-4 space-y-1">
        <!-- Closets -->
        <li class="font-normal text-lg text-gray-600 cursor-pointer" (click)="toggleClosets()">Closets</li>

        <!-- Submenú de Closets (se muestra solo si isClosetsOpen es true) -->
        <ul *ngIf="isClosetsOpen" class="pl-4 space-y-1">
          <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="toggleFlorenciaClassic()">Florencia Classic</li>
          <!-- Submenu de Florencia Classic -->
          <ul *ngIf="isFlorenciaClassicOpen" class="pl-4 space-y-1">
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/Florencia-Classic')">Florencia Classic</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/Florencia-Classic/florencia-classic-small')">Florencia Small</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/Florencia-Classic/fc-cajonera-costado')">Florencia CC</li>
          </ul>

          <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="toggleFlorenciaPremium()">Florencia Premium</li>
          <ul *ngIf="isFlorenciaPremiumOpen" class="pl-4 space-y-1">
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/florencia-premium')">Florencia Premium</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/florencia-premium/fp-small')">Florencia P Small</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/florencia-premium/fp-cc')">Florencia PCC</li>
          </ul>

          <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/fcpg185')">Florencia Perfil Gola</li>

          <!-- Milan -->
          <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="toggleMilan()">Milan</li>
          <!-- Submenu de Florencia Classic -->
          <ul *ngIf="isMilanOpen" class="pl-4 space-y-1">
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/milan')">Milan 2 Modulos</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/milan/milan-tres-modulos')">Milan 3 Modulos</li>
            <li class="font-light text-lg text-gray-500 hover:text-gray-700 cursor-pointer" (click)="navigateWithConfirmation('/calculators/closets/Florencia-Classic/fc-cajonera-costado')">Milan 4 Modulos</li>
          </ul>
        </ul>

        <!-- Otras opciones de Calculadoras -->
        <li class="font-normal text-lg text-gray-600 hover:text-gray-700 cursor-pointer">Cocinas</li>
        <li class="font-normal text-lg text-gray-600 hover:text-gray-700 cursor-pointer">Vestidores</li>
        <li class="font-normal text-lg text-gray-600 hover:text-gray-700 cursor-pointer">Otros</li>
      </ul>
    </ul>
  </div>
</div>
